version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      DB_HOST: banking-mysql.ctek4ma6atd4.ap-south-1.rds.amazonaws.com
      DB_USER: dbuser
      DB_PASS: soumya987
      DB_NAME: bankingdb
      DB_PORT: 3306
      JWT_SECRET: mysecret
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: "http://localhost:8080"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network: