version: "3.8"
services:
db:
image: postgres:14
environment:
POSTGRES_USER: admin
POSTGRES_PASSWORD: admin123
POSTGRES_DB: bankingdb
ports:
- "5432:5432"
volumes:
- ./backend/src/db/init.sql:/docker-entrypoint-initdb.d/init.sql


backend:
build: ./backend
ports:
- "8080:8080"
environment:
DB_USER: admin
DB_PASS: admin123
DB_HOST: db
DB_PORT: 5432
DB_NAME: bankingdb
JWT_SECRET: mysecret
depends_on:
- db


frontend:
build: ./frontend
ports:
- "3000:3000"
depends_on:
- backend