apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "banking-app.fullname" . }}-backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}"
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: host       # lowercase
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: username   # lowercase
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: password   # lowercase
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: dbname     # lowercase