apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.db.migrationConfigMap }}
  namespace: default
data:
  schema.sql: |
{{ .Files.Get "database/scripts/schema.sql" | indent 4 }}
  sample-data.sql: |
{{ .Files.Get "database/scripts/sample-data.sql" | indent 4 }}
