apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "fullname" . }}-db-migrate
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - name: migrate
          image: postgres:16
          env:
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: host
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: username
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: password
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: dbname
          volumeMounts:
            - name: migration-scripts
              mountPath: /scripts
          command: ["sh", "-c", "psql -h $PGHOST -U $PGUSER -d $PGDATABASE -f /scripts/schema.sql && psql -h $PGHOST -U $PGUSER -d $PGDATABASE -f /scripts/sample-data.sql"]
      restartPolicy: Never
      volumes:
        - name: migration-scripts
          configMap:
            name: {{ .Values.db.migrationConfigMap }}
