apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.db.migrationConfigMap }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
data:
  schema.sql: |-
{{ .Files.Get "database/scripts/schema.sql" | indent 4 }}
  sample-data.sql: |-
{{ .Files.Get "database/scripts/sample-data.sql" | indent 4 }}