apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "fullname" . }}-db-migrate
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
        - name: migrate
          image: mysql:8.0
          env:
            - name: MYSQL_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: host
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: username
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: password
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.db.secretName }}
                  key: dbname
          volumeMounts:
            - name: migration-scripts
              mountPath: /scripts
          command:
            - sh
            - -c
            - |
              echo "Running schema.sql..."
              mysql -h $MYSQL_HOST -u $MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE < /scripts/schema.sql

              echo "Running sample-data.sql..."
              mysql -h $MYSQL_HOST -u $MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE < /scripts/sample-data.sql

      restartPolicy: Never
      volumes:
        - name: migration-scripts
          configMap:
            name: {{ .Values.db.migrationConfigMap }}
