apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.db.migrationConfigMap }}
data:
  schema.sql: |
    CREATE TABLE IF NOT EXISTS users (
      id INT AUTO_INCREMENT PRIMARY KEY,
      username VARCHAR(50),
      password VARCHAR(255)
    );

  sample-data.sql: |
    INSERT INTO users (username, password)
    VALUES ('admin', 'admin123');
