apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.db.migrationConfigMap }}
data:
  schema.sql: |-
{{- with .Files.Get "database/scripts/schema.sql" | indent 4 }}
{{ . }}
{{- end }}
  sample-data.sql: |-
{{- with .Files.Get "database/scripts/sample-data.sql" | indent 4 }}
{{ . }}
{{- end }}
